<div class="footer-info">
    <h3>IUM Gallery</h3> 
    <p>Explore artworks, artists, and styles from around the world.</p>
</div>
<div class="footer-contact">
    <h4>Contact Us</h4>
    <p>Email: <a href="mailto:ingo@iumgallery.com">info@iumgallery.com</a></p>
    <p>Phone: +1 (512) 222-2222</p>
</div>
<div class="footer-social">
    <h4>Follow Us</h4>
    <div class="footer-social-links">
        <a href="#"><img src="images/facebook-icon.svg" alt="Go to Facebook"></a>
        <a href="#"><img src="images/instagram-icon.svg" alt="Go to Instagram"></a>
        <a href="#"><img src="images/twitter-icon.svg" alt="Go to Twitter"></a>
    </div>
</div>