/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

img{
    max-width: 100%;
    height: auto;
}

button{
    cursor: pointer;
    border: none;
}

/* Variables */
:root{
    --color-primary: #800020;
    --color-secondary: #FFD700;
    --color-background: #F5F5F5;
    --color-text: #000000;
    --color-white: #FFFFFF;

    --color-accent: #4a90e2;
    --color-muted: #666666;

    --font-title: 'Playfair Display', serif;
    --font-body: 'Open Sans', sans-serif;

    --font-size-base: 16px;
    --font-size-small: 14px;
    --font-size-large: 20px;
    --font-size-xlarge: 28px;
}

/* Global */

body{
    font-family: var(--font-body);
    font-size: var(--font-size-base);
    background-color: var(--color-background);
    color: var(--color-text);
    line-height: 1.6;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
}

h1, h2, h3{
    font-family: var(--font-title);
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem 1.5rem;
    gap: 1rem;
    background-color: var(--color-primary);
    color: var(--color-white);
    box-shadow: 0 5px 12px rgba(0, 0, 0, .4);
}

.header-logo-container{
    width: 80px;
}

.header-logo-container img{
    background-color: transparent;
    display: block;
}

.nav{
    flex-grow: 1;
}

.nav-list{
    justify-self: end;
    display: flex;
    gap: 1rem;
}

.nav-list-item{
    font-size: var(--font-size-small);
}

.nav-link{
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .06rem;
    display: block;
    padding: .2rem .5rem;
    position: relative;
}

.nav-link::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: var(--color-secondary);
    border-radius: 2px;
    transition: width .3s ease;
}

.nav-link:hover::after{
    width: 100%;
}

main{
    flex-grow: 1;
}

.footer{
    padding: .5rem 1.5rem;
    background-color: var(--color-primary);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    color: var(--color-white);
    gap: 2rem;
    text-align: center;
}

.footer-social, .footer-contact, .footer-info{
    flex-grow: 1 1 200px;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    gap: .2rem;
    align-items: center;
}



.footer-social-links {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.footer-social-links a img {
    width: 35px;
    height: 35px;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
    transition: transform .3s ease, filter .3s ease;
}

.footer-social-links a:first-of-type img{
    scale: 1.3;
}

.footer-social-links a:hover img {
    transform: scale(1.2);
    filter: invert(84%) sepia(100%) saturate(500%) hue-rotate(10deg) brightness(100%) contrast(100%);
}